<div class="body">
      <div class="container">

        <p id="notice"></p>


      	<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label for="user_email">Email</label><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-danger" %>
  </div>
<% end %>
  <a class="sign_in" href="/users/sign_in">Log in</a><br>

  <a class="sign_up" href="/users/sign_up">Sign up</a><br>






      </div>
    </div>

