/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";  /*ここを追加*/
    @import "bootstrap";            /*ここを追加*/

#error_explanation {
color:red;
}

#notice {
color:green;
}

.body {
margin-top:51px;
}

.btn-danger {
background-color:#d9534f;
border-color:#d43f3a;
color:#fff;
}

.btn-default {
background-color:#fff;
border-color:#ccc;
color:#333;
}

.btn-info {
background-color:#5bc0de;
border-color:#46b8da;
color:#fff;
}

.btn-success {
background-color:#5cb85c;
border-color:#4cae4c;
color:#fff;
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
float:left;
}

.col-xs-12 {
width:100%;
}

.col-xs-3 {
width:25%;
}

.col-xs-9 {
width:75%;
}

.col-xs-offset-1 {
margin-left:8.33333333%;
}

.col-xs-offset-1,.col-xs-10 {
width:83.33333333%;
}

.col-xs-offset-9 {
margin-left:75%;
}

.container {
margin-left:auto;
margin-right:auto;
padding-left:15px;
padding-right:15px;
}

.nav {
list-style:none;
margin-bottom:0;
padding-left:0;
}

.nav>li {
display:block;
position:relative;
}

.nav>li>a {
display:block;
padding:10px 15px;
position:relative;
}

.navbar-fixed-top,.navbar-fixed-bottom {
left:0;
position:fixed;
right:0;
z-index:1030;
}

.navbar-inverse {
background-color:#222;
border-color:#090909;
}

.navbar-inverse .navbar-nav>li>a {
color:#9d9d9d;
}

.navbar:after,.container:after {
clear:both;
}

.navbar:before,.navbar:after,.container:before,.container:after {
content:" ";
display:table;
}

.table {
margin-bottom:20px;
max-width:100%;
width:100%;
}

a {
background-color:transparent;
color:#337ab7;
text-decoration:none;
}

a:visited {
color:#666;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,div {
display:block;
}

b,strong {
font-weight:700;
}

button,input,optgroup,select,textarea {
color:inherit;
font:inherit;
margin:0;
}

div.field,div.actions {
margin-bottom:10px;
}

em {
font-style:italic;
}

form {
display:block;
margin-top:0;
}

h1,.h1 {
font-size:36px;
}

h1,.h1,h2,.h2,h3,.h3 {
margin-bottom:10px;
margin-top:20px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
color:inherit;
font-family:inherit;
font-weight:500;
line-height:1.1;
}

h2,.h2 {
font-size:30px;
}

header {
color:#FFF;
}

header .navbar-left span {
font-size:20px;
padding-top:10px;
}

img {
border:0;
vertical-align:middle;
}

input {
padding:1px 0;
}

input,button,select,textarea {
font-family:inherit;
font-size:inherit;
line-height:inherit;
}

label {
cursor:default;
display:inline-block;
font-weight:700;
margin-bottom:5px;
max-width:100%;
}

li {
display:list-item;
text-align:0;
}

ol,ul,td {
font-family:verdana, arial, helvetica, sans-serif;
font-size:13px;
line-height:18px;
margin:33px;
}

p {
font-family:verdana, arial, helvetica, sans-serif;
font-size:13px;
line-height:18px;
margin:0 0 10px;
}

table {
background-color:transparent;
}

tbody {
border-color:inherit;
display:table-row-group;
vertical-align:middle;
}

textarea {
overflow:auto;
}

thead {
border-color:inherit;
display:table-header-group;
vertical-align:middle;
}

tr {
border-color:inherit;
display:table-row;
vertical-align:inherit;
}

ul {
display:block;
list-style-type:disc;
margin-block-end:1em;
margin-block-start:1em;
margin-inline-end:0;
margin-inline-start:0;
padding-inline-start:40px;
}

ul,ol {
margin-bottom:10px;
margin-top:0;
}